/***************************************************
minimal-responsive.css v1.0
MIT License
github.com/lbsonley/minimal-responsive-css-framework
****************************************************/
html{
	color:#252525;
	text-align:left;
	font-family:sans-serif;
}
html, body{
	/*removes white space on right of screen on iPhone*/
	overflow-x:hidden;
	overflow-y:auto;
}
/*BASIC COLUMN STRUCTURE
*******************************************************/
.container{
	margin: 0 auto;
	width:320px;
}
.container:after, 
.nest:after{
	content:'';
	display:block;
	clear:both;
}
.one-column, 
.two-column, 
.three-column, 
.two-three-column, 
.four-column, 
.three-four-column{
	width:280px;
	margin:0 0.625em 0 0.625em;
	padding:0 0.625em 0 0.625em;
	min-height:1px;
	float:left;
}
.nest>*{
	margin:0;
	padding-left:0;}
hr{
	width:280px; 
	margin: 5em auto;
}
/*RESPONSIVE COLUMN STRUCTURE
*******************************************************/
/*screens larger than 568px*/
@media only screen and (min-width:568px) {
	.one-column, 
	.two-column, 
	.three-column, 
	.two-three-column, 
	.four-column, 
	.three-four-column{
		margin:0 0.625em 0 0.625em;
		padding:0 0.625em 0 0.625em;
	}
	.container{width:540px;}
	.one-column{width:500px;}
	hr{width:500px; margin: 6em auto;}
	.two-column{width:230px;}
	.three-column{width:140px;}
	.two-three-column{width:320px;}
	.four-column{width:95px;}
	.three-four-column{width:365px;}
	
	.nest>*:first-child{
		margin-left:0;
		padding-left:0;
	}
	.nest>*:last-child{
		margin-right:0;
		padding-right:0;
	}
}
/*screens larger than 768px*/
@media only screen and (min-width:768px){
	.container{width:720px}
	.one-column{width:680px}
	hr{width:680px; margin: 6em auto;}
	.two-column{width:320px}
	.three-column{width:200px}
	.two-three-column{width:440px;}
	.four-column{width:140px}
	.three-four-column{width:500px;}
}
/*screens larger than 960px*/
@media only screen and (min-width: 960px){
	.container{width:960px;}
	.one-column{width:920px;}
	hr{width:920px; margin:6em auto;}
	.two-column{width:440px;}
	.three-column{width:280px;}
	.two-three-column{width:600px;}
	.four-column{width:200px;}
	.three-four-column{width:680px;}
}

/*TYPOGRAPHY
*******************************************************/
h1{
	font-size:2.5em;
	padding:0.2em;
}
h2{
	font-size:2.15em;
	padding-bottom:0.5em;
}
h3{
	font-size:1.75em;
	padding-bottom:0.5em;
}
h4{	
	font-size:1.5em;
	padding-bottom:0.65em;
}
h5{	
	font-size:1.25em;
	padding-bottom:0.75em;
}
h6{	
	font-size:1.1em;
	padding-bottom:0.65em;
}
p{
	font-size:.9em;
	word-spacing:-0.1px;
	line-height:1.5em;
	padding-bottom:1em;
}
/*IMAGES AND ICONS
*******************************************************/
/*full-width image*/
.fw-img{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
/*column-width image*/
.cw-img{
	width:100%;
	padding:0 0 1.25em 0;
}
/*column-width icon*/
.cw-icon{
	width:5em;
	height:5em;
	margin:0 auto;
	padding:2.5em 0 1.25em 0;
}
/*VERTICAL CENTERING
*******************************************************/
.vcenter-wrap{
	text-align:center;
}
.vcenter-wrap:before{
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-left:-1em;
}
.vcenter-box{
	display:inline-block;
	width:100%;
	vertical-align:middle;
}
/*BUTTONS
*******************************************************/
a.button, 
button, 
input[type=button], 
input[type=submit] {
	font-size:.9em;
	font-weight:bold;
	line-height:1em;
	text-decoration:none;
	text-transform:uppercase;
	margin:0.25em 0.25em 0.25em 0.25em;
	padding:0.625em 1.25em 0.625em 1.25em;
	border:2px solid #919191;
	border-radius:5px;
	display:inline-block;
	box-sizing:border-box;
	color:#919191;
	background-color:#fff;
	cursor:pointer;
}
a.button:hover, 
button:hover, 
input[type=button]:hover, 
input[type=submit]:hover{
	color:#5e5e5e;
	border-color:#5e5e5e;
}
a.bright, 
button.bright, 
input.bright{
	color:#fff;
	background-color:#ffa500;
	border-color:#ffa500;
}
a.bright:hover, 
button.bright:hover, 
input.bright:hover{
	color:#fff;
	background-color:#ff9000;
	border-color:#ff9000;
}
/*LISTS
*******************************************************/
li{
	font-size:.9em;
	word-spacing:-0.5px;
	line-height:1.5em;
	padding-bottom:.35em;
}
ul li{
	list-style-type:circle;
	margin-left:1.25em;
}
ul ul li, 
ol ul li{
	list-style-type:disc;
	margin-left:3em;
}
ol li{
	list-style-type:decimal;
	margin-left:1.25em;
	padding-left:.25em;
}
ol ol li, 
ul ol li{
	list-style-type:lower-latin;
	margin-left:3em;
}
/*TABLES
*******************************************************/
table{
	width:100%;
	table-layout:fixed;
}
thead th{
	font-weight:bold;
}
thead th, 
tbody td{
	text-align:left;
	padding:0.75em 1em 0.75em 0.5em;
	border-bottom:1px solid #ababab;
}
/*FORMS
*******************************************************/
label{
	font-size:1em;
	font-weight:bold;
	line-height:1em;
	margin:1.25em 0 0.5em 0;
	display:block;
}
input[type=text], 
input[type=email], 
input[type=password]{
	width:100%;
	font-size:0.9em;
	line-height:2.25em;
	border:1px solid #ababab;
	padding:0 0.75em 0 0.75em;
	border-radius:5px;
}
textarea{
	width:100%;
	font-size:0.9em;
	line-height:1.6em;
	border:1px solid #ababab;
	padding:1em;
	border-radius:5px;
	height:7em;
}
input[type=radio], 
input[type=checkbox]{
	font-size:0.9em;
	margin:0.5em 0.5em 0.5em 0;
}
/*BLOCKQUOTES
*******************************************************/
blockquote{
	width:80%;
	margin:0 auto;
	position:relative;
}
blockquote>p{
	font-size:1.1em;
	font-style:oblique;
	text-align:center;
}
blockquote>cite>p{
	text-align:center;
	font-style:italic;
	padding-bottom:0px;
}
blockquote>cite>p:before{
	content:'\2013';
	margin-right:0.5em;
}
blockquote>p:before, 
blockquote>p:after{
	font-size:3em;
	line-height:0em;
}
blockquote>p:before{
	content:'\201C';
	vertical-align:-0.35em;
	padding-right:0.25em;
}
blockquote>p:after{
	content:"\201D";
	vertical-align:-0.4em;
}
/*ONE-OFFS
*******************************************************/
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}
hr{
	display:block;
	border-width:0.5px;
	border-color:#fff;
}
