/*IMAGES AND ICONS
*******************************************************/
/*full-width image*/
.fw-img{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center bottom;
}
/*column-width image*/
.cw-img{
	width:100%;
	margin:0;
}
/*column-width icon*/
.cw-icon{
	width:5em;
	height:5em;
	margin:0 auto;
	padding:2.5em 0 1.25em 0;
}