$btn-grey: #919191;
$btn-grey-hover: #5e5e5e;
$btn-bright-bg: #ffa500;
$btn-bright-hover: #ff9000;

@mixin box-sizing($val) {
	-webkit-box-sizing:$val;
			box-sizing:$val;
}
/*BUTTONS
*******************************************************/
a.button, 
button, 
input[type=button], 
input[type=submit] {
	font-size:.9em;
	font-weight:bold;
	line-height:1em;
	text-decoration:none;
	text-transform:uppercase;
	margin:0.25em 0.25em 0.25em 0.25em;
	padding:0.625em 1.25em 0.625em 1.25em;
	border:2px solid $btn-grey;
	border-radius:5px;
	display:inline-block;
	@include box-sizing("border-box");
	color: $btn-grey;
	background-color:#fff;
	cursor:pointer;
}
a.button:hover, 
button:hover, 
input[type=button]:hover, 
input[type=submit]:hover{
	color: $btn-grey-hover;
	border-color: $btn-grey-hover;
}
a.bright, 
button.bright, 
input.bright{
	color:#fff;
	background-color: $btn-bright-bg;
	border-color: $btn-bright-bg;
}
a.bright:hover, 
button.bright:hover, 
input.bright:hover{
	color:#fff;
	background-color: $btn-bright-hover;
	border-color: $btn-bright-hover;
}