$frm-font: 0.9em;
$brdr: 1px solid #ababab;
$brdr-radius: 5px;

@mixin border($brdr, $brdr-radius) {
	border: $brdr;
	border-radius:$brdr-radius;
}
/*FORMS
*******************************************************/
label{
	font-size:1em;
	font-weight:bold;
	line-height:1em;
	margin:1.25em 0 0.5em 0;
	display:block; }
	
input[type=text], 
input[type=email], 
input[type=password]{
	width:90%;
	font-size: $frm-font;
	line-height:2.25em;
	padding:0 0.75em 0 0.75em;
	@include border($brdr, $brdr-radius) }

textarea{
	width:90%;
	font-size:0.9em;
	line-height:1.6em;
	padding:1em;
	height:7em;
	@include border($brdr, $brdr-radius) }

input[type=radio], 
input[type=checkbox]{
	font-size:0.9em;
	margin:0.5em 0.5em 0.5em 0; }