/*LISTS
*******************************************************/
li{
	padding-bottom:.35em;
}
/*unordered lists*/
ul li{
	list-style-type:circle;
	margin-left:1.25em;
}
ul ul li, 
ol ul li{
	list-style-type:disc;
	margin-left:3em;
}
/*ordered lists*/
ol li{
	list-style-type:decimal;
	margin-left:1.25em;
	padding-left:.25em;
}
ol ol li, 
ul ol li{
	list-style-type:lower-latin;
	margin-left:3em;
}